openapi: '3.0.0'
info:
  version: 1.0.0
  title: sheng hualuo
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /sites:
    get:
      summary: List all sites
      operationId: listSites
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of sites
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sites'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create site
      operationId: createSite
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sites/{siteId}:
    get:
      summary: Get site info
      operationId: getSiteById
      parameters:
        - name: siteId
          in: path
          required: true
          description: The id of the site to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sites'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /reports:
    get:
      summary: List all reports
      operationId: listReports
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of reports
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reports'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Site:
      required:
        - id
        - url
      properties:
        id:
          type: integer
          format: int64
        url:
          type: string
        status:
          type: string
    Sites:
      type: array
      items:
        $ref: '#/components/schemas/Site'
    Report:
      required:
        - id
        - type
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
        generatedAt:
          type: string
    Reports:
      type: array
      items:
        $ref: '#/components/schemas/Report'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string